<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.OrderMapper">
    <insert id="addOrder">
        insert into orders (Customer, DeviceName, ModelNumber, Category, Manufacturer, Quantity, UnitPrice, TotalAmount,
                            Employee, OrderDate, Status, Remark)
        VALUES (#{customer}, #{deviceName}, #{modelNumber}, #{category}, #{manufacturer}, #{quantity}, #{unitPrice},
                #{totalAmount}, #{employee}, #{orderDate}, #{status}, #{remark})
    </insert>

    <select id="search" resultType="com.medical.entity.Order">
        select * from orders
        <where>
            Status = '进行中' and Employee = #{name}
            <if test="customer != null and customer != ''">
                and Customer = #{customer}
            </if>
            <!-- 判断 dateRange 数组是否为空 -->
            <if test="dateRange != null and dateRange.size() == 2">
                AND OrderDate BETWEEN #{dateRange[0]} AND #{dateRange[1]}
            </if>
        </where>
    </select>

</mapper>